*{
  text-align: center;
  margin-top:2px;
  margin-right:100px;
  margin-bottom:2em;
  margin-left:100px;

}
body{
background-image: url("starwars.jpg");
color: white;
}
h1{
  color: blue;
}

p{
  animation-name: autoscroll;
  animation-duration: 10s;
}

@keyframes autoscroll {
  from{ transform: translateY(0)}
  to {transform: translateY(-1000px)}
}
